    <footer>
      {% comment %} <h2>Squads</h2>
      <ul> {% endcomment %}
        {% comment %} {% for squad in squads %}
          <li>Squad {{ squad.name }}</li>
        {% endfor %} {% endcomment %}
      </ul>
    </footer>
  </body>
</html>