{% render 'partials/head.liquid', title: person.name %}

<p><a href="/" class="back">&lt; Terug</a></p>

<div class="Card">
  <img
    class="avatar"
    src="{% if person.mugshot %}https://fdnd.directus.app/assets/{{ person.mugshot }}{% else %}/images/prop.jpg{% endif %}"
    alt="{{ person.name }}"
    width="300"
  >
  <h2>{{ person.name }}</h2>
  <p class="squad">squad{{ person.squad }}</p>

  <div class="bericht">
    <h3>Laat een bericht achter</h3>

    <textarea placeholder="Schrijf je bericht hier..."></textarea>

    <div class="row">
      <input type="text" placeholder="Naam">
      <button>Versturen</button>
    </div>
  </div>
</div>

{% render 'partials/foot.liquid', squads: squads %}
