{% render 'partials/head.liquid', title: person.name %}

<p><a href="/" class="back">&lt; Terug</a></p>

<div class="Card">
  <img
    class="avatar"
    src="{% if person.mugshot %}https://fdnd.directus.app/assets/{{ person.mugshot }}{% else %}/images/prop.jpg{% endif %}"
    alt="{{ person.name }}"
    width="300"
  >
  <h2>{{ person.name }}</h2>
  <p class="squad">squad{{ person.squad }}</p>

{% comment %} {% render 'partials/foot.liquid', squads: squads %} {% endcomment %}
