:root {
  --button-color: #81a1c6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squadcard {
  width: 250px;
}
