@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --button-color: #81a1c6;
  --border-color: #e5e7eb;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squadcard {
  width: 250px;
}

h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.8rem;
}

input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
}
